@model IEnumerable<Review>

@foreach (var review in Model)
{
    <div class="single-review">
        <h5>@review.applicationUser?.UserName</h5>
        <p>@review.Comment</p>
        <small>@review.CreatedAt?.ToString("dd MMM yyyy")</small>
    </div>
}
