@using Cinema.Models.ViewModels
@model NewPasswordOTPVM
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Reset Password</h3>
                        <div class="text-danger" asp-validation-summary="All"> </div>
                        <form method="post">

                            <div class="form-group">
                                <label>Received OTP</label>
                                <input class="form-control p_input" asp-for="OTP">
                                <span class="text-danger" asp-validation-for="OTP"></span>
                            </div>

                            <div class="form-group">
                                <label>New Password</label>
                                <input class="form-control p_input" asp-for="NewPassword">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>

                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input class="form-control p_input" asp-for="ConfirmNewPassword">
                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn"> Reset Password </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["Notification"] != null)
{
    <script>
        Swal.fire({
            position: "center",
            icon: "success",
            title: "@TempData["Notification"]",
            showConfirmButton: false,
            timer: 2000,
            background: "#1e1e1e", // dark background
            color: "#ffffff", // white text
            iconColor: "#00ff00" // optional: change icon color for dark mode
        });
    </script>
}